.bg-color {
    background-color: #1e3d3e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-color {
    color: white !important;
    font-weight: revert !important;
}

.item-color:hover {
    color: white !important;
}

.fa-shopping-cart,
.fa-bell {
    color: white;
}

.customize-navbar {
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.pa {
    margin-bottom: 80px;
    z-index: 10;
}

.sign-up-btn{
    width: 140px !important;
}

.login-btn{
    font-weight: bold !important;
    text-decoration: none;
    color: white !important;
    margin-left: 10px;
}

@media(max-width:393px) {
    .sign-btn-set{
        float: right !important;
    }
}
