.vender-type-header-section {
  padding-left: 50px;
  padding-right: 50px;
}

.vender-type-rounded {
  border-radius: 10px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vender-page-heading {
  color: black;
  font-weight: 500;
  margin-bottom: 1px;
  padding-bottom: 5px;
}

.vender-container {
  padding-top: 80px;
}

.vender-container p {
  margin-top: 0px;
}

.vender-page-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 120px;
  flex-flow: wrap;
}

.vender-page-btns img {
  margin: auto;
  /* margin-top: 50px; */
  margin-bottom: 20px;
}

.vender-btn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  border-radius: 10px;
  padding-top: 0;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.vender-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .vender-page-btns img {
    width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .vender-page-btns img {
    width: 300px;
  }
}
