.main-div {
    margin-top: 150px !important;
    width: 40% !important;
    margin-left: 25%;
    bottom: 0;


}

@media (max-width: 570px) {
    .main-div {
        width: 90% !important;
        margin-left: 5%;
        margin-right: 5%;
    }

}
.nav-link:visited{
    background-color: #ffffff ;

}
.nav-link{
    color: #03676e ;
    font-weight: bold;
    margin-left: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #03676e !important;

}
.btn-primary{
    background-color: #03676e !important;
    border-color: #03676e !important;
}

.form-check-input:checked{
    background-color: #004145;

}
.last-div{
    height:83px;
}