.row-margin {
    margin-bottom: 212px !important;
}

@media screen and (max-width: 992px) {
    .row-margin {
        margin-bottom: auto !important;
    }
}

.unsub-btn {
    margin-top: 15px;
    background-color: transparent;
    border: none;
}


.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 /15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav {
    margin-top: 100px !important;
}

.container-xl {
    margin-bottom: 30px !important;
}


@media screen and (max-width: 1200px) {
    .card-body-edit {
        margin-top: 0 !important;
    }

    .card {
        height: auto !important;
    }
}

@media screen and (max-width: 392px) {
    .nav {
        margin-top: 130px !important;
    }

}

#inputPhone {
    border: none !important;
}

#outlined-basic {
    width: 100px !important;
}

#inputAddress {
    height: 56px;
}

.nav-bar-link {
    border: none !important;
}

.nav-link.active {
    border-bottom-color: transparent !important;
}

.nav-border {
    border: solid #858585 2px;
    border-radius: 12px;

}

.nav-bar-link {
    margin: 10px !important;
    font-weight: bold;
    opacity: 1 !important;
}

.heading-basic {
    font-size: 20px;
    color: #737373;
    margin-top: 20px;
    margin-bottom: 0 !important;
}

.div-class {
    height: 0 !important;
    margin-bottom: 100px;
}

@media screen and(max-width: 605px) {
    .div-class {
        height: 10% !important;

    }

}